.header__main {
	background-image: url();
}
.header_navbar {
}
.header__img {
	min-width: 180px;
	min-height: 32px;
	width: 100%;
	max-width: 180px;
}
.header__logo {
	width: 100%;
	height: auto;
	
}
.header__links {
}
.header__links__about-us {
}
.header__links__courses {
}
.header__links__pricing {
}
.header__links__testimonials {
}
.header__links__contacts {
}
.social__links {
}