.main__text {
	color: #c7a17a;
	font-size: 26px;
	font-family: "Satisfy", cursive;
}

img {
	display: block;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
header {
	overflow-x: hidden;
}

.navbar__line {
	background-color: #c7a17a;
	max-width: 20px;
	height: 3px;
	width: 100%;
	margin: 0 auto;
}
